<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DLSU Arrows Express Line 1 Reservation - Reserve</title>

    <link rel="stylesheet" type="text/css" media="all" href="assets/css/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        // FOR TOOLTIP 
        $('[data-toggle="tooltip"]').tooltip();

        // FOR CALENDAR 
        var day = "";
        var mon = new Date().getMonth();
        var year = new Date().getFullYear();
        
        var currentDate = new Date();
        var date = new Date(year, mon);

        function firstDay() { 
          return new Date(date.getFullYear(), date.getMonth(), 1); 
        } 

        function daysInMonth() { 
          return new Date(date.getFullYear(), date.getMonth()+1, 0).getDate(); 
        } 

        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";

        var week = new Array();
        week[0] = "S";
        week[1] = "M";
        week[2] = "T";
        week[3] = "W";
        week[4] = "H";
        week[5] = "F";
        week[6] = "S";

        $("#cal-left").click(function(){
          if (mon == 0){
            mon = 11;
            year--;
          } else {
            mon--;
          }
          date = new Date(year, mon);
          printDate(month[mon], year);
          $("#cal-body").html("");
          calendarLoop();
        });

        $("#cal-right").click(function(){
          if (mon == 11){
            mon = 0;
            year++;
          } else {
            mon++;
          }
          date = new Date(year, mon);
          printDate(month[mon], year);
          $("#cal-body").html("");
          calendarLoop();
        });

        function printDate(getmonth, getyear) {
          var n = getmonth + " " + getyear;
          $("#cal-title").text(n);
        }

        // Loop for calendar days
        function calendarLoop() {
          var dayincrement = 1;

          for (i = 0; i < 6; i++) {
            var row = document.createElement("tr");

            for (j = 0; j < 7; j++) {
              if (i === 0 && j < firstDay().getDay()) {
                var dayContainer = document.createElement("td");
                var dayContainerText = document.createTextNode("");
                dayContainer.appendChild(dayContainerText);
                row.appendChild(dayContainer)
              } else if (dayincrement > daysInMonth()) {
                break;
              } else {
                var dayContainer = document.createElement("td");
                var dayContainerText = document.createTextNode(dayincrement);
                dayContainer.appendChild(dayContainerText);
                row.appendChild(dayContainer)
                dayincrement++;
              }
            }

            $("#cal-body").append(row);
          }
        }

        printDate(month[date.getMonth()], date.getFullYear());
        calendarLoop();

        $("table").delegate("td", "click", function(){
          date = new Date(year, mon, parseInt($(this).text()));
          if (date <= currentDate){
            alert('You can only choose a day that is starting from tomorrow!');
          } else if (date.getDay() == 0 || date.getDay() == 6) {
            alert('You cannot choose Saturday nor Sunday!');
          } else {
            $("td").css('color', 'black');
            $("td").css('font-weight', 'normal');
            this.setAttribute("style", "font-weight: bolder; color: #00703c;");
            day = $(this).text();
          }
        });
        
        // FOR TIME AND DESTINATION 
        var time = "";
        var destination = "";

        $(".timelist-body").click(function(){
          $(".timelist-body").css('color', 'black');
          $(".timelist-body").css('font-weight', 'normal');
          this.setAttribute("style", "font-weight: bolder; color: #00703c;");

          if (this.id == "mnllgn"){
            destination = "MNL > LGN";
          } else if (this.id == "lgnmnl"){
            destination = "LGN > MNL";
          }
          
          time = $(this).text();
          var alertstring = 'You chose ' + time + ' on ' + month[date.getMonth()] + ' ' + day + ', ' + date.getFullYear() +  ' and route is ' + destination
          var formattedDate = date.getMonth()+1 + "/" + day + "/" + date.getFullYear();

          alert(alertstring);

          var rider = $("#rider-user").val();

          $("#summary-user").text(rider);
          $("#summary-date").text(formattedDate);
          $("#summary-time").text(time);
          $("#summary-destination").text(destination);
        });

        $("#submit").click(function(){
          window.location.href = "reserve-success-admin.html";
        });
      })
    </script>
  </head>
<body>
    <!-- Header -->
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark" style="background-color: #00703c;">
      <!-- <a class="navbar-brand" href="#"><img src="assets/dlsu.png" width="180"></a> -->
      <a class="navbar-brand" href="home-admin.html"><img src="assets/img/weblogo-white.png" width="100"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="home-admin.html">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="#">Reserve<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="edit-admin.html">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="profile-admin.html">Profile</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bars fa-lg" style="color: white;"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="login.html">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Flex two columns — left will be calender, right will be time sched -->
    <div class="container text-center p-4">
      <img src="assets/img/title.png" width="510">
    </div>

    <div class="container">
      <div class="row p-auto m-auto text-center">
        <div class="col">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-user-check fa-lg"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Enter rider username" aria-label="Username" aria-describedby="basic-addon1" id="rider-user">
          </div>
        </div>
      </div>
      <div class="row p-4">
        <div class="col">
          <div class="calendar">
            <div class="calendar-title">
              CHOOSE A DAY <i class="fas fa-question-circle fa" data-toggle="tooltip" data-placement="top" title="Click your desired day to reserve a ride"  style="color: white;"></i>
            </div>
          </div>
          <div class="calendar-body m-auto text-center">
            <div class="calendar-title">
              <i class="fas fa-chevron-circle-left" style="color: #00703c;" id="cal-left"></i>
              <span id="cal-title"></span>
              <i class="fas fa-chevron-circle-right" style="color: #00703c;" id="cal-right"></i>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>S</th>
                  <th>M</th>
                  <th>T</th>
                  <th>W</th>
                  <th>H</th>
                  <th>F</th>
                  <th>S</th>
                </tr>
              </thead>
              <tbody id="cal-body" class="pointer">
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <div class="timelist">
            <div class="calendar-title">
              CHOOSE YOUR TIME <i class="fas fa-question-circle fa" data-toggle="tooltip" data-placement="top" title="Click your desired disembarkment time with your respective route" style="color: white;"></i>
            </div>
          </div>
          <div id="carousel-controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="calendar-title">MNL <i class="fas fa-angle-right"></i> LGN</div>
                <div class="timelist-body pointer" id="mnllgn">6:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">7:30AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">9:30AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">11:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">1:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">2:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">3:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">5:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="mnllgn">6:15PM</div>
              </div>
              <div class="carousel-item">
                <div class="calendar-title">LGN <i class="fas fa-angle-right"></i> MNL</div>
                <div class="timelist-body pointer" id="lgnmnl">5:45AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">7:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">9:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">11:00AM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">1:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">2:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">3:30PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">5:00PM</div>
                <div class="line"></div>
                <div class="timelist-body pointer" id="lgnmnl">6:15PM</div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" style="color: #00703c;" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-circle-left fa-lg" style="color:#00703c;"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-controls" role="button" data-slide="next">
              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
              <i class="fas fa-chevron-circle-right fa-lg" style="color:#00703c;"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-4">
      <div class="row">
        <div class="col">
          <div class="comments">ANY COMMENTS?</div>
          <div class="form-group green-border-focus">
              <textarea class="form-control rounded-5" rows="5"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="container p-4 m-auto text-center" style="border: 1.5px solid #00703c; border-radius: 10px;">
      <div class="comments">SUMMARY</div>
      <div class="row">
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">FOR</p>
          <p id="summary-user"></p>
        </div>
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">DATE</p>
          <p id="summary-date"></p>
        </div>
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">DESTINATION</p>
          <p id="summary-destination"></p>
        </div>
        <div class="col-3">
          <p style="color:#00703c; font-weight: bold">TIME</p>
          <p id="summary-time"></p>
        </div>
      </div>
    </div>

    <div class="container p-5 text-center">
      <button type="submit" class="btn btn-outline-success" id="submit">Submit</button>
    </div>
</body>
</html>