<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DLSU Arrows Express Line 1 Reservation - Sign Up</title>
    
    <link rel="stylesheet" type="text/css" media="all" href="assets/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/a2bb66671d.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row p-5 m-3 text-center">
            <div class="container">
                <i class="fas fa-user-plus fa-4x" style="color: #00703c;"></i>
                <h1 id="signup-title">Sign Up!</h1>
            </div>
        </div>
        <div class="row signup-body p-5 m-3 text-justify">
            <div class="container">
                <center><b style="color:red;">{{err}}</b></center>
                <form action="signup" method="post">
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col">
                            <input type="text" class="form-control" name= "firstname" id="firstname" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col">
                            <input type="text" class="form-control" name="lastname"id="lastname" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col">
                            <input type="email" class="form-control" name ="email"id="email" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Username</label>
                        <div class="col">
                            <input type="text" class="form-control" name ="username" id="username" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Password</label>
                        <div class="col">
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col">
                            <input type="password" class="form-control" name ="confirmPassword"id="confirmPassword" onkeyup="passMatch()" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Priority Level</label>
                        <div class="col">
                            <select id="priorityLevel" name ="priorityLevel"class="form-control">
                                <option value="">Choose...</option>
                                <option value="1">1 - Faculty and ASF with Inter-campus assignments</option>
                                <option value="2">2 - Students with Inter-Campus enrolled subjects or thesis</option>
                                <option value="3">3 - Researchers</option>
                                <option value="4">4 - School administrators</option>
                                <option value="5">5 - Employees and Students with Official Business</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success" id="submitButton" disabled>Submit</button>

                        </div>
                    </div>
            </form>
            </div>
        </div>
        <div class="row p-5 m-3 text-center">
            <div class="container">
                <a href="/" style="color: #00703c; font-family: 'Roboto Mono';">Go Back to Log-In</a>
            </div>
        </div>
    </div>
</body>

<script>
    function passMatch(){
        console.log(1);
        var pass1 = document.getElementById("password").value;
        var pass2 = document.getElementById("confirmPassword").value;

        if(pass1 !== pass2){
            document.getElementById("password").style.borderColor = "#E34234";
            document.getElementById("confirmPassword").style.borderColor = "#E34234";
            document.getElementById("submitButton").setAttribute("disabled", "true");
        }
        else{
            document.getElementById("password").style.borderColor = "#00703c";
            document.getElementById("confirmPassword").style.borderColor = "#00703c";
            document.getElementById("submitButton").removeAttribute("disabled");
        }
    }
</script>
</html>